<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<!-- *./* no path significa que ta no msm directory -->
    <%- include('./partials/nav') %>
<body>
    
    <h1>HOME PAGE</h1>
    <div class="blogs content"> 
        <h2>🔥🌞All Summer Tips 🔥🌞</h2>
        <!-- conteudo dinamico dos posts com EJS. *blogs* vem da const blogs em app.js -->
        <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog =>{ %>
                <a  class="single" href="/posts/<%=blog._id %>">
                    <h3 class="title"><%= blog.title %></h3> <!-- title vem do const blogs em app.js -->
                    <p class="snippet"><%= blog.snippet %></p>
                </a>
            <% }) %>
        <% } else { %> 
            <p> There are no posts to display 😕</p>
        <% } %>    
    </div>  
    
  <%- include('./partials/footer') %>
</body>
</html>